* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    background: linear-gradient(to bottom, white 0%, white 7%, rgba(141, 236, 253, 0.226) 20%, rgba(141, 236, 253, 0.226) 100%);
}

li {
    font-size: 150%;
}

.titulo {
    text-align: center;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    border: 2px solid red;
}

h2 {
    margin: 0;
    width: 50%;
    text-decoration: underline;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

.carousel-item img {
    height: 500px;
    width: 100%;
    object-fit: contain;
    object-position: center;
}



@keyframes vibrate {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(6px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(6px)
    }

    100% {
        transform: translateX(0);
    }
}




@mixin mobile {
    @media (max-width: 425px) {
        @content
    }
}