* {
    margin: 0;
    padding: 0;
}

h1 {
    text-decoration: underline;
    text-align: center;
    padding: 0%;
    margin: 0%;

}

#logo { 
    height: 8vh;
    width: 5vw;


}

p img {
    height:35vh ;
    width: 15vw;
    
}

h2 {
    margin: 0;
    width: 50%;
    text-decoration: underline; color: rgb(0, 0, 0);
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}

.texto {
    margin: auto;
    width: 50%;;
    padding: 10px;
    font-size: 200%;
    background-color: rgba(0, 255, 255, 0.315);
}


form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: x-large;
}

.redes {
    width: 4vh;
    height: 2vw;

}


section {
    margin: 5%;
}

video{
    width:60vh;
    height: 40vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

body{
    background-color: rgba(141, 236, 253, 0.226);
    display: grid;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

div img {
    height: 30vh;
    width: 10vw;
    
}
.nav{
    display: grid;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: white;
    border: solid 1px;


}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    align-items: stretch;
    
}

.nav li {
    margin-right: 5px;
    height: 100%;
    
    
    
}
.nav a {
    text-decoration: none;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    color: black;
    

} 

li {
    font-size: 250%;
    
} 

.nav li:hover {

    background-color:  rgba(141, 236, 253, 0.226);

    
}

.maintienda {
    display: grid;
    align-content: center;

}

.tienda {
    display: flex;
    justify-content: space-around;
}

.boton {
    height: 5vh;
    width: 10vw;
    border-radius: 15px;
    background-color: rgb(42, 165, 159);
    border: solid 3px;
}
.footer {
    margin-top: auto;
    padding: 1em;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
    align-items: center;

}

